<form onsubmit="saveChanges();return false;">
    <ul>
        <li><div class="left-align">Фамилия:</div><div class="right-align"><input type="text" name="surname" value="{{ record.surname }}"></div></li>
        <li><div class="left-align">Имя:</div><div class="right-align"><input type="text" name="name" value="{{ record.name }}"></div></li>
        <li><div class="left-align">Отчество:</div><div class="right-align"><input type="text" name="middlename" value="{{ record.middleName }}"></div></li>
        <li><div class="left-align">Возраст:</div><div class="right-align"><input type="text" name="age" value="{{ record.age }}"></div></li>
        <li><div class="left-align">Город:</div><div class="right-align"><input type="text" name="city" value="{{ record.city }}"></div></li>
        <li><div class="left-align">Улица:</div><div class="right-align"><input type="text" name="street" value="{{ record.street }}"></div></li>
        <li><div class="left-align">Дом:</div><div class="right-align"><input type="text" name="house" value="{{ record.houseNumber }}"></div></li>
        <li><div class="left-align">Квартира:</div><div class="right-align"><input type="text" name="flat" value="{{ record.flatNumber }}"></div></li>
        <li><div class="left-align">E-mail:</div><div class="right-align"><input type="text" name="email" value="{{ record.email }}"></div></li>
        <li><div class="left-align">Телефон:</div><div class="right-align"><input type="text" name="phone" value="{{ record.phoneNumber }}"></div></li>
        <li><div class="left-align">Категория:</div><div class="right-align"><input type="text" name="cathegory" value="{{ record.cathegory }}"></div></li>
    </ul>
</form>